@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(3, 247, 255) 0%, rgb(74, 45, 204) 54%, rgb(1, 29, 90) 84%);
    min-height: 100vh;
    font-size:  larger;
}